@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-content {
    @apply mt-[92px] min-h-[calc(100vh-92px)] bg-gray-100;
  }

  .App-header {
    @apply bg-gray-700 min-h-screen flex flex-col items-center justify-center text-white;
    font-size: calc(10px + 2vmin);
  }

  .home-main {
    @apply max-w-[1400px] mx-auto;
  }

  .top-card-main {
    @apply flex w-full items-center gap-8;
  }

  .top-card-item {
    @apply flex-1 h-[201.6px] rounded-3xl bg-purple-300 my-5;
    aspect-ratio: 130/63;
  }

  .popular-cuisines {
    @apply flex justify-between items-center;
  }

  .popular-cuisines-text {
    @apply text-black text-left font-urbanist text-2xl font-semibold leading-[140%] mb-4;
  }

  .cuisines-main {
    @apply flex flex-col items-center w-[88.5px];
  }

  .cuisines-main img {
    @apply w-[110.625px] h-[90px] p-[12.5px_19.688px_12.813px_18.75px] flex flex-col items-center justify-center;
  }

  @media (max-width: 768px) {
    .main-content {
      @apply mt-[84px] min-h-[calc(100vh-84px)] p-[15px];
    }
  }
}
